body {
    background-color: white;
}

header {
    background-color: black;

}

nav {
    background-color: black;
}

h1 {
    padding-top: 80px;
    color: #474747;
}

#main {
    min-height: 400px;
    background-color: #EDCA28;
}