{% extends 'base_model.html' %}
{% load static %}

{% block title %}
<title>TubeCênica - Nova Cênica</title>
{% endblock %}

{% block menu %}
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="http://localhost:8000/home/">Nova Cênica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>
{% endblock %}

{% block content %}
<main role="main">

  <div class="album py-3">
    <div class="container">
      <h1 class="jumbotron-heading">Nossas Produções</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l2UDgpLz20M" allowfullscreen></iframe>
            </div>
            <div class="card-body">
              <p class="card-text">Neste projeto mostramos toda a diversidade e opulência de uma coleção de quadrinhos.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l2UDgpLz20M" allowfullscreen></iframe>
            </div>
            <div class="card-body">
              <p class="card-text">Neste projeto mostramos toda a diversidade e opulência de uma coleção de quadrinhos.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l2UDgpLz20M" allowfullscreen></iframe>
            </div>
            <div class="card-body">
              <p class="card-text">Neste projeto mostramos toda a diversidade e opulência de uma coleção de quadrinhos.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{% static 'img/folder1.jpeg' %}" alt="">
            <div class="card-body">
              <p class="card-text">Este é um card maior e que suporta texto abaixo, como uma introdução mais natural ao conteúdo adicional. No entanto, esse conteúdo é um pouco maior.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{% static 'img/folder1.jpeg' %}" alt="">
            <div class="card-body">
              <p class="card-text">Este é um card maior e que suporta texto abaixo, como uma introdução mais natural ao conteúdo adicional. No entanto, esse conteúdo é um pouco maior.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{% static 'img/folder1.jpeg' %}" alt="">
            <div class="card-body">
              <p class="card-text">Este é um card maior e que suporta texto abaixo, como uma introdução mais natural ao conteúdo adicional. No entanto, esse conteúdo é um pouco maior.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{% static 'img/folder1.jpeg' %}" alt="">
            <div class="card-body">
              <p class="card-text">Este é um card maior e que suporta texto abaixo, como uma introdução mais natural ao conteúdo adicional. No entanto, esse conteúdo é um pouco maior.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{% static 'img/folder1.jpeg' %}" alt="">
            <div class="card-body">
              <p class="card-text">Este é um card maior e que suporta texto abaixo, como uma introdução mais natural ao conteúdo adicional. No entanto, esse conteúdo é um pouco maior.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{% static 'img/folder1.jpeg' %}" alt="">
            <div class="card-body">
              <p class="card-text">Este é um card maior e que suporta texto abaixo, como uma introdução mais natural ao conteúdo adicional. No entanto, esse conteúdo é um pouco maior.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

